body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 20px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 26px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
header {
    background-color:aquamarine;
    color: black;
    padding: 20px;
    text-align: center;
}
header > h1 {
    margin-top: 100px;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
main {
    padding: 50px;
    text-align: center;
}
p {
    font-size: 24px;
    line-height: 1.5;
    color: #333;
}
footer {
    background-color:#fff;
    color: black;
    padding: 20px;
    text-align: center;
}
footer p {
    margin: 0;
}
input[type=text], input[type=password] , input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}
#root{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
label{
  font-size: 24px;
}
textarea{
  font-size: 24px;
}
.previous {
  background-color: #f1f1f1;
  color: black;
}
.deleteBtn{
  background-color: red;
  border-radius: 5px;
  width: 70px;
  height: 50px;
  font-size: 15px;
  color: white;

}
.editBtn{
  background-color: green;
  border-radius: 5px;
  width: 70px;
  height: 50px;
  font-size: 15px;
  color: white;
}
.likeBtn{
  background-color: blue;
  border-radius: 5px;
  width: 70px;
  height: 50px;
  font-size: 15px;
  color: white;
}
.buttonEdit:active {
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buttonDelete:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.buttonLike:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
img{
  width: 450px;
  height: 300px;
}